{% extends "base.html" %}
{% block title %}数据图表{% endblock %}
{% block css %}{{ super() }}
    <link href="/static/css/pages/plans.css" rel="stylesheet"/>
{% endblock %}
{% block contain_page %}
    <h1 class="page-title"><i class="icon-th-large"></i> Grid Layout </h1>
    <div class="row">
        <div class="span9">
            <div class="widget">
                <div class="widget-content"><h3>1</h3>
                    <p>2</p>
                </div> <!-- /widget-content -->
            </div><!-- /widget -->
        </div> <!-- /span9 -->
    </div><!-- /row -->
    <div class="row">
        <div class="span5">
            <div class="widget">
                <div class="widget-content"><h3>4</h3>
                    <p>5</p>
                </div> <!-- /widget-content -->
            </div><!-- /widget -->
        </div> <!-- /span5 -->
        <div class="span4">
            <div class="widget">
                <div class="widget-content"><h3>7</h3>
                    <p>8</p>
                </div> <!-- /widget-content -->
            </div> <!-- /widget -->
        </div> <!-- /span4 -->
    </div><!-- /row -->
    <div class="row">
        <div class="span3">
            <div class="widget">
                <div class="widget-content"><h3>10</h3>
                    <p>11</p>
                </div> <!-- /widget-content -->
            </div> <!-- /widget -->
        </div> <!-- /span3 -->
        <div class="span3">
            <div class="widget">
                <div class="widget-content"><h3>13</h3>
                    <p>14</p>
                </div> <!-- /widget-content -->
            </div> <!-- /widget -->
        </div> <!-- /span3 -->
        <div class="span3">
            <div class="widget">
                <div class="widget-content"><h3>16</h3>
                    <p>17</p>
                </div> <!-- /widget-content -->
            </div> <!-- /widget -->
        </div> <!-- /span3 -->
    </div><!-- /row -->
    <div class="row">
        <div class="span6">
            <div class="widget">
                <div class="widget-content"><h3>19</h3>
                    <p>20</p>
                </div> <!-- /widget-content -->
            </div><!-- /widget -->
        </div> <!-- /span5 -->
        <div class="span3">
            <div class="widget">
                <div class="widget-content"><h3>22</h3>
                    <p>23</p>
                </div> <!-- /widget-content -->
            </div> <!-- /widget -->
        </div> <!-- /span4 -->
    </div> <!-- /row -->
{% endblock %}