<!DOCTYPE html>
<html lang="zn-ch">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="/static/css/font-awesome.css" rel="stylesheet"/>
    <link href="/static/css/adminia.css" rel="stylesheet"/>
    <link href="/static/css/adminia-responsive.css" rel="stylesheet"/>
    <link href="/static/css/pages/dashboard.css" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% block css %}{% endblock %}
</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="/">理工内推网</a>
            <div class="brand" style="margin-left: 10px;color: deepskyblue;" href="/">此网站由易圣通公司独家赞助</div>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li>
                        {% if session.username != null %}
                            <a href="#"><span class="badge badge-warning">您有 0 条未读消息</span></a>
                        {% endif %}

                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">

                        <a data-toggle="dropdown" class="dropdown-toggle " href="#">
                            {% if session.username !=null %}
                                {{ session.username }}
                            {% else %}
                                未登录
                            {% endif %}
                            <b class="caret"></b>
                        </a>

                        {% if session.username !=null %}
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/account/"><i class="icon-user"></i> 设置 </a>
                                </li>
                                <li>
                                    <a href="/change_password/"><i class="icon-lock"></i> 修改密码</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/logout/"><i class="icon-off"></i>登出</a>
                                </li>
                            </ul>
                            </li>
                        {% else %}
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/login/"><i class="icon-user"></i> 登陆 </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/register/"><i class="icon-user"></i>注册</a>
                                </li>
                            </ul>
                        {% endif %}
                </ul>
            </div> <!-- /nav-collapse -->
        </div> <!-- /container -->
    </div> <!-- /navbar-inner -->
</div> <!-- /navbar -->

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="account-container">
                    <div class="account-avatar">
                        <img src="/static/img/headshot.png" alt="" class="thumbnail"/>
                    </div>
                    <div class="account-details">
                        <span class="account-name">
                            {% if session.username != null %}
                                {{ session.username }}
                            {% else %}
                                用户未登录
                            {% endif %}
                        </span>
                        <span class="account-role">用户身份</span>
                        <span class="account-actions">
                            {% if session.username != null %}
                                <a href="javascript:;">个人</a>|
                                <a href="javascript:;">关注</a>
                            {% endif %}
						</span>
                    </div>
                </div>
                <hr/>
                <ul id="main-nav" class="nav nav-tabs nav-stacked">
                    <li>{# class="active"#}<a href="/"><i class="icon-home"></i>首页</a></li>
                    <li><a href="/topic/1"><i class="icon-pushpin"></i>内推信息</a></li>
                    <li><a href="/vip/"><i class="icon-th-list"></i>积分/会员</a></li>
                    <li><a href="/grid/"><i class="icon-th-large"></i>网格布局<span
                            class="label label-warning pull-right">5</span></a></li>
                    <li><a href="/charts/"><i class="icon-signal"></i>数据图表</a></li>
                    <li><a href="/settings/"><i class="icon-user"></i>个人设置</a></li>
                    <li><a href="/account/"><i class="icon-user"></i>个人主页</a></li>
                </ul>
                <hr/>
                <div class="sidebar-extra">
                    <p>欢迎来到内推网，您可以在这里了解最新的内推消息哦.</p>
                </div>
                <br/>
            </div> <!-- /span3 -->
            <div class="span9">
                {% block contain_page %}{% endblock %}
            </div> <!-- /span9 -->
        </div> <!-- /row -->
    </div> <!-- /container -->
</div> <!-- /content -->


<div id="footer">
    <div class="container">
        <hr/>
        <p>&copy; 2017 Go Ideate.理工内推网--专注哈理工学生IT内推</p>
    </div>
</div>
</body>
<script src="/static/js/jquery-1.7.2.min.js"></script>
<script src="/static/js/excanvas.min.js"></script>
<script src="/static/js/jquery.flot.js"></script>
<script src="/static/js/jquery.flot.pie.js"></script>
<script src="/static/js/jquery.flot.orderBars.js"></script>
<script src="/static/js/jquery.flot.resize.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/charts/bar.js"></script>
{% block js %}{% endblock %}
</html>
