{% extends "header.html" %}
{% block base %}
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <div class="account-container">
                        <div class="account-avatar">
                            <img src="/static/img/headshot.png" alt="" class="thumbnail"/>
                        </div>
                        <div class="account-details">
                        <span class="account-name">
                            {% if session.username != null %}
                                {{ session.username }}
                            {% else %}
                                用户未登录
                            {% endif %}
                        </span>
                            <span class="account-role">用户身份</span>
                            <span class="account-actions">
                            {% if session.username != null %}
                                <a href="javascript:;">个人</a>|
                                <a href="javascript:;">关注</a>
                            {% endif %}
						</span>
                        </div>
                    </div>
                    <hr/>
                    <ul id="main-nav" class="nav nav-tabs nav-stacked">
                        <li>{# class="active"#}<a href="/"><i class="icon-home"></i>首页</a></li>
                        <li><a href="/topic/1"><i class="icon-pushpin"></i>内推信息</a></li>
                        <li><a href="/vip/"><i class="icon-th-list"></i>积分/会员</a></li>
                        <li><a href="/account/"><i class="icon-th-large"></i>个人空间<span
                                class="label label-warning pull-right">5</span></a></li>
                        {#                    <li><a href="/charts/"><i class="icon-signal"></i>数据图表</a></li>#}
                        <li><a href="/settings/"><i class="icon-user"></i>个人设置</a></li>
                    </ul>
                    <hr/>
                    <div class="sidebar-extra">
                        <p>欢迎来到内推网，您可以在这里了解最新的内推消息哦.</p>
                    </div>
                    <br/>
                </div> <!-- /span3 -->
                <div class="span9">
                    {% block contain_page %}{% endblock %}
                </div> <!-- /span9 -->
            </div> <!-- /row -->
        </div> <!-- /container -->
    </div> <!-- /content -->
{% endblock %}