{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block contain_page %}
    <h1 class="page-title">
        <i class="icon-home"></i>
        首页
    </h1>

    <div class="stat-container">

        <div class="stat-holder">
            <div class="stat">
                <span id="user_count"></span>
                位 同学/学长入驻我们网站
            </div>
        </div>

        <div class="stat-holder">
            <div class="stat">
                <span id="topic_count"></span>
                条 内推消息总有适合你的
            </div>
        </div>

        <div class="stat-holder">
            <div class="stat">
                <span>XX</span>
                位 同学已成功内推
            </div>
        </div>

        <div class="stat-holder">
            <div class="stat">
                <span>XX</span>
                位 同学正在内推中
            </div>
        </div>

    </div> <!-- /stat-container -->

    <div class="widget">
        <div class="widget-header">
            <i class="icon-signal"></i>
            <h3>柱形图表</h3>
        </div>
        {#       <div class="widget-content">
            <div id="bar-chart" class="chart-holder"></div>
        </div>#}
    </div> <!-- /widget -->


    <div class="widget widget-table">

        <div class="widget-header">
            <i class="icon-th-list"></i>
            <h3>最新动态</h3><span id="refresh_last_10"
                               style="border: 1px solid skyblue;background-color: lightskyblue;cursor: pointer;">刷新</span>
        </div>

        <div class="widget-content" style="display:block;">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>公司</th>
                    <th>职位</th>
                    <th>发布时间</th>
                    <th>发布人</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>

                <tbody id="last_10_news_id">
                {#                <tr>#}
                {#                    <td>1</td>#}
                {#                    <td>腾讯</td>#}
                {#                    <td>Android工程师</td>#}
                {#                    <td>2017-01-15</td>#}
                {#                    <td>Chicago Bulls</td>#}
                {#                    <td class="action-td">#}
                {#                        <a href="javascript:;" class="btn btn-small btn-warning">#}
                {#                            <i class="icon-heart"></i>#}
                {#                        </a>#}
                {#                        <a href="javascript:;" class="btn btn-small">#}
                {#                            <i class="icon-remove"></i>#}
                {#                        </a>#}
                {#                    </td>#}
                {#                </tr>#}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        {#        <div class="span5">#}
        {#            <div class="widget">#}
        {#                <div class="widget-header">#}
        {#                    <h3>5 Column</h3>#}
        {#                </div>#}
        {#                <div class="widget-content">#}
        {#                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d</p>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        {#        <div class="span4">#}
        {#            <div class="widget">#}
        {#                <div class="widget-header">#}
        {#                    <h3>4 Column</h3>#}
        {#                </div>#}
        {#                <div class="widget-content">#}
        {#                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
{% endblock %}
{% block js %}
    {{ super() }}
    {#加载用户数量#}
    <script type="text/javascript">
        (function get_user_count() {
            user_count = $('#user_count');
            $.ajax({
                url: '/get_user_count/',
                type: 'POST', //GET
                async: true, //或false,是否异步
                timeout: 5000, //超时时间
                success: function (data) {
                    user_count.text(data);
                    user_count.unbind("click");
                },
                error: function (xhr, textStatus) {
                    user_count.html('<p style="font-size: 10px;cursor:pointer;">加载错误，点击重新加载</p>');
                    user_count.unbind("click");
                    user_count.click(function () {
                        get_user_count();
                    })
                }
            });
        })();

        {#加载话题数量#}
        (function get_topic_count() {
            topic_count = $('#topic_count');
            $.ajax({
                url: '/get_topic_count/',
                type: 'POST',
                async: true,
                timeout: 5000,
                success: function (data) {
                    topic_count.text(data);
                    topic_count.unbind("click");
                },
                error: function (xhr, textStatus) {
                    topic_count.html('<p style="font-size: 10px;cursor:pointer;">加载错误，点击重新加载</p>');
                    topic_count.unbind("click");
                    topic_count.click(function () {
                        get_topic_count();
                    })
                }
            })
        })();

        {#加载最新10条消息#}
        (get_last_10_news = function () {
            var th_element = $('#last_10_news_id').children('th');
            $('#last_10_news_id').empty();
            $('#last_10_news_id').append(th_element);
            $.ajax({
                url: '/get_last_10_news/',
                type: 'POST',
                async: true,
                timeout: 5000,
                success: function (data) {
                    console.log('加载');
                    for (var i = 0; i < data.length; i++) {
                        var tb_element = table_element(i, data);
                        $('#last_10_news_id').append(tb_element);
                    }
                },
                error: function (i, data) {
                    console.log('10_news加载错误')
                }
            })
        })();

        function table_element(i, data) {
            var ret = "<tr>";
            ret += "<td>" + (i + 1) + "</td>";
            ret += "<td>" + data[i].company + "</td>";
            ret += "<td>" + data[i].title + "</td>";
            ret += "<td>" + data[i].time + "</td>";
            ret += "<td>" + data[i].user + "</td>";
            ret += "</tr>";
            return ret;
        }

        $('#refresh_last_10').click(function () {
            get_last_10_news();
        })

    </script>
{% endblock %}
