{% extends "base.html" %}
{% block title %}这里有各种内推{% endblock %}
{% block css %}
    <style type="text/css">
        .publish_topic {
            margin-left: 5%;
        }

        .publish_topic a {
            background-color: gray;
            color: palevioletred;
            font-size: 15px;
        }

        .publish_topic a:hover {
            border: #2d6987;
            color: wheat;
            font-size: 15px;
            cursor: pointer;
        }

        a {
            color: salmon;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
            color: darkcyan;
        }
    </style>
{% endblock %}
{% block contain_page %}
    <h1 class="page-title">
        <i class="icon-pushpin"></i>
        <span>内推信息</span><span class="publish_topic"><a href="/topic/publish/">发布一个内推信息</a></span>
    </h1>

    <div class="widget">
        {% for topic in ret_dic.topics %}
            <div class="widget-content">
                <h3 class="topic_title"><a href="/topic/detail/{{ topic.id }}">{{ topic.title }}</a></h3>
                <h4>tag:{{ topic.tag }}</h4>
                <a href="/topic/detail/{{ topic.id }}">点击查看 </a>
                <span style="margin-left: 10px;">公司：{{ topic.company }}</span>
                <span style="margin-left: 10px;">发布人：{{ topic.author }}</span>
                <span style="margin-left: 10px;">发布时间：{{ topic.time }} </span>
            </div>
        {% endfor %}
    </div> <!-- /widget -->
    {% if  ret_dic.has_prev %}
        <a href="/topic/{{ ret_dic.cur_page - 1 }}">上一页</a>
    {% endif %}
    {% if  ret_dic.has_next %}
        <a href="/topic/{{ ret_dic.cur_page + 1 }}">下一页</a>
    {% endif %}
{% endblock %}