{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block css %}
    {{ super() }}
    <link href="/static/css/pages/plans.css" rel="stylesheet"/>
{% endblock %}
{% block contain_page %}
    <h1 class="page-title">
        <i class="icon-th-list"></i>
        Pricing Plans
    </h1>
    <div class="widget">
        <div class="widget-header">
            <h3>Available Plans</h3>
        </div> <!-- /widget-header -->
        <div class="widget-content">
            <div class="pricing-plans plans-3">
                <div class="plan-container">
                    <div class="plan">
                        <div class="plan-header">
                            <div class="plan-title">
                                Micro
                            </div> <!-- /plan-title -->
                            <div class="plan-price">
                                <span class="note">$</span>15<span class="term">Per Month</span>
                            </div> <!-- /plan-price -->
                        </div> <!-- /plan-header -->
                        <div class="plan-features">
                            <ul>
                                <li><strong>Free</strong> setup</li>
                                <li><strong>1</strong> Website</li>
                                <li><strong>2</strong> Projects</li>
                                <li><strong>1GB</strong> Storage</li>
                                <li><strong>$0</strong> Google Adwords Credit</li>
                            </ul>
                        </div> <!-- /plan-features -->
                        <div class="plan-actions">
                            <a href="javascript:;" class="btn">Purchase Now</a>
                        </div> <!-- /plan-actions -->
                    </div> <!-- /plan -->
                </div> <!-- /plan-container -->
                <div class="plan-container">
                    <div class="plan">
                        <div class="plan-header">
                            <div class="plan-title">
                                Starter
                            </div> <!-- /plan-title -->
                            <div class="plan-price">
                                <span class="note">$</span>35<span class="term">Per Month</span>
                            </div> <!-- /plan-price -->
                        </div> <!-- /plan-header -->
                        <div class="plan-features">
                            <ul>
                                <li><strong>Free</strong> setup</li>
                                <li><strong>5</strong> Website</li>
                                <li><strong>10</strong> Projects</li>
                                <li><strong>5GB</strong> Storage</li>
                                <li><strong>$25</strong> Google Adwords Credit</li>
                            </ul>
                        </div> <!-- /plan-features -->
                        <div class="plan-actions">
                            <a href="javascript:;" class="btn">Purchase Now</a>
                        </div> <!-- /plan-actions -->
                    </div> <!-- /plan -->
                </div> <!-- /plan-container -->
                <div class="plan-container">
                    <div class="plan orange">
                        <div class="plan-header">
                            <div class="plan-title">
                                Business
                            </div> <!-- /plan-title -->
                            <div class="plan-price">
                                <span class="note">$</span>75<span class="term">Per Month</span>
                            </div> <!-- /plan-price -->
                        </div> <!-- /plan-header -->
                        <div class="plan-features">
                            <ul>
                                <li><strong>Free</strong> setup</li>
                                <li><strong>20</strong> Website</li>
                                <li><strong>35</strong> Projects</li>
                                <li><strong>Unlimited</strong> Storage</li>
                                <li><strong>$65</strong> Google Adwords Credit</li>
                            </ul>
                        </div> <!-- /plan-features -->
                        <div class="plan-actions">
                            <a href="javascript:;" class="btn">Purchase Now</a>
                        </div> <!-- /plan-actions -->
                    </div> <!-- /plan -->
                </div> <!-- /plan-container -->
            </div> <!-- /pricing-plans -->
        </div> <!-- /widget-content -->
    </div> <!-- /widget -->
    <div class="widget">
        <div class="widget-header">
            <h3>Account Information</h3>
        </div> <!-- /widget-header -->
        <div class="widget-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                id est laborum.</p>
        </div> <!-- /widget-content -->
    </div> <!-- /widget -->
{% endblock %}
